.menu-icon {
  font-size: 1.25rem;
}
.current {
  opacity: 0.8;
  color: white;
}

.nav-tabs .nav-link.active {
  color: #0000dd;
  font-weight: bold;
}

.nav-link {
  color: black;
}

.post-img {
  text-align: center;
}
